.content {
  height: 100%;
  min-width: 850px;
}

.holder {
  display: flex;
  height: calc(100% - 75px);
}

.path {
  margin: auto 0;
  display: block;
}

.navigation {
  margin: auto 0;
  display: flex;

  .button {
    margin: 0 10px;
    padding: 0;
    position: relative;
  }
}

.right {
  width: 100%;
  position: relative;
  overflow: auto;
}

.file-name {
  width: 100px;
  height: 25px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  box-sizing: border-box;
  user-select: none;
}

.file-preview {
  margin: auto;

  i {
    line-height: 1.5;
  }
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: progress;
}

.rename-button {
  margin: 20px auto;
  display: block;
  text-align: center;
}

.modal-title {
  margin-top: 5px;
  text-align: center
}

.search-output {
  margin: 15px 0;
}


.search-output-icon {
  margin: 2px 5px;
}

.table-item {
  width: 80%;
}

.table-item-short {
  width: 20%;
  text-align: right;
}

.buttons-panel{
  text-align: right;
}
