<div class="backdrop" (click)="newClickedAction()"></div>
<div class="overlay">
  <button class="close-button" (click)="newClickedAction()">
    <i class="fas fa-fw fa-3x fa-times"></i>
  </button>

  <div class="buttons">
    <button class="btn" [disabled]="newFolder" (click)="createNewFolder()">Vytvor nový priečinok</button>
  </div>

  <div *ngIf="newFolder">
    <div class="buttons">
      <app-new-folder (buttonClicked)="createNewFolder($event)"></app-new-folder>
    </div>
  </div>

  <div class="drag-and-drop">
    <file-drop [customstyle]="'drag-and-drop'"
               (onFileDrop)="dropped($event)"
               (onFileOver)="fileOver($event)"
               (onFileLeave)="fileLeave($event)"
    >
      <span>Vlož súbory sem alebo&nbsp;</span>
      <label for="fileInput" style="cursor: pointer; font-weight: bold">prehľadávaj</label>
      <input id="fileInput" type="file" name="myfile" #uploadFile style="display: none" (change)="addFile($event)"/>
    </file-drop>
  </div>

  <div class="upload-content" *ngIf="droppedFiles.length > 0 && hasTable">
    <div class="upload-table">
      <table class="table">
        <thead>
        <tr>
          <th>Názov</th>
          <th style="width: 25%">Veľkosť</th>
        </tr>
        </thead>
        <tbody class="upload-name-style">
        <tr *ngFor="let item of droppedFiles; let i=index">
          <td>{{item.relativePath ? item.relativePath : item.name}}</td>
          <td>{{item.size | fileSize}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="buttons">
    <button class="btn btnUpload" [disabled]="droppedFiles.length === 0" (click)="uploadFiles()">
      Nahraj
    </button>
    <p *ngIf="droppedFiles.length > 0 && hasFileCount">
      Počet súborov na nahranie: <strong>{{droppedFiles.length}}</strong>
    </p>
  </div>

</div>
