@import '~src/styles';

.upload-content {
  text-align: center;
  max-height: 25vh;
  overflow: auto;
  margin: 10px auto;
}

.table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;

  border: 1px solid #000000;
  margin: 10px auto;
  background: white;

  td, th {
    border: 1px solid #000000;
    padding: 5px 5px;
  }

  th {
    font-weight: bolder;
    color: $main-color;
    text-align: left;
  }

  td {
    color: black;
  }
}

.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #555;
  opacity: 0.8;
  z-index: 1;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;

  text-align: center;
  z-index: 2;
  overflow: auto;
  box-sizing: border-box;

  @include borders;
  border-width: 2px;
  margin: 20px;

  width: calc(100vw - 40px);
  max-height: calc(100vh - 40px);

  .drag-and-drop {
    border: 1px dashed $main-color;
  }

  .close-button {
    position: absolute;
    top: 0;
    right: 0;
    @include borders;
    @include buttons;
    background-color: transparent;
    border: none;
  }

  .buttons {
    background: white;
    padding: 5px;
    margin: 10px 0;

    .btn {
      @include borders;
      @include buttons;
    }

    .btn:hover{
      @include contrast;
    }

    .btn.btnUpload {
      font-size: large;
    }

    .btn[disabled] {
      cursor: not-allowed;
      @include disabled;
    }

    .btn[disabled]:hover {
      cursor: not-allowed;
      @include disabled;
    }
  }
}
