@import '../../../styles';

.upload-content {
  text-align: center;
  max-height: 25vh;
  overflow: auto;
  margin: 10px auto;
}

.table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;

  border: 1px solid #000000;
  margin: 10px auto;
  background: #fff;

  td, th {
    border: 1px solid #000000;
    padding: 5px 5px;
  }

  th {
    font-weight: bolder;
    color: $main-color;
    text-align: left;
  }

  td {
    color: #000;
  }
}

.backdrop{
  z-index: $z-index-level-1;
}

.overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
  z-index: $z-index-level-2;
  overflow: auto;
  box-sizing: border-box;

  @include borders;
  border-width: 2px;
  margin: 20px auto;

  width: calc(100vw - 60px);
  max-height: calc(100vh - 60px);
  max-width: 1000px;

  .drag-and-drop {
    border: 1px dashed $main-color;
  }

  .close-button {
    @include borders;
    @include buttons;

    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
  }

  .buttons {
    background: #fff;
    padding: 5px;
    margin: 10px 0;
  }
}
