<div class="navigation-component">
  <input class="navigation-search" (keyup)="evaluateSearch($event.target.value)" placeholder="Zadajte hľadaný výraz">
  <span class="navigation-search-icon">
    <i class="fas fa-search"></i>
  </span>

  <!--<span class="navigation-search-icon" *ngIf="!hasFilter">-->
    <!--<i class="fas fa-search"></i>-->
  <!--</span>-->
  <!--<span (click)="onClick()" class="navigation-search-icon" *ngIf="hasFilter">-->
    <!--<i class="fas fa-times"></i>-->
  <!--</span>-->
  <ng-content></ng-content>
</div>

