<div class="side-view" *ngIf="node">
  <div class="side-view-preview">
    <div class="side-view-preview-title">{{node.name}}</div>

    <div class="side-view-preview-content">
      <ng-container
        [ngTemplateOutletContext]="{$implicit: node}"
        [ngTemplateOutlet]="sideViewTemplate">
      </ng-container>
    </div>

    <div class="side-view-buttons">
      <button (click)="onClick($event, 'download')" [disabled]="!allowFolderDownload && node.isFolder" class="button">
        Stiahni
      </button>
      <button (click)="onClick($event, 'rename')" class="button">Premenuj</button>
      <button (click)="onClick($event, 'remove')" class="button">Vymaž</button>
      <button (click)="onClick($event, 'closeSideView')" class="button">Zatvor</button>
    </div>
  </div>
</div>
