<div class="side-view" *ngIf="node">
  <ng-container
    [ngTemplateOutletContext]="{$implicit: node}"
    [ngTemplateOutlet]="sideViewTemplate ? sideViewTemplate : defaultSideViewTemplate">
  </ng-container>
</div>

<ng-template let-node #defaultSideViewTemplate>
  <div class="preview">
    <div class="close" (click)="onClick($event, 'close')">
      <i class="fas fa-times"></i>
    </div>

    <p class="title">{{node.name}}</p>

    <div class="image-preview">
      <img src="https://picsum.photos/200/300/?random"/>
    </div>

    <div class="buttons">
      <button (click)="onClick($event, 'download')" class="button">Stiahni</button>
      <button (click)="onClick($event, 'rename')" class="button">Premenuj</button>
      <button (click)="onClick($event, 'remove')" class="button">Vymaž</button>
    </div>
  </div>
</ng-template>
