.upload-content {
  text-align: center;
  max-height: 25vh;
  overflow: auto;
  margin: 10px auto;
}

.fa-times:before {
  content: "\f00d";
}

.buttons {
  background: #fff;
  padding: 5px;
  margin: 10px 0;
}

