@import '~src/styles';

.flist {
  margin: 5px;
  padding: 0;
  list-style: none;
  white-space: nowrap;

  ul {
    margin: 0 0 0 1em;
    //padding: 3px;
  }

  li {
    list-style: none none;
    line-height: 1.2em;
    font-size: 1em;
    display: inline;

    .deselected app-node-lister {
      ul {
        display: none;
      }
    }
  }

  app-node:hover {
    transition: color 0.35s ease-in;
    color: $main-color;
  }

  app-node {
    cursor: pointer;
    transition: color 0.35s ease-out;
    color: black;
  }
}
