.flist {
  margin: 5px;
  padding: 0;
  list-style: none;
  white-space: nowrap;
}

.flist ul {
  margin: 0 0 0 1em;
  padding: 3px;
}

.flist li {
  list-style: none none;
  /*margin-left: 0;*/
  line-height: 1.2em;
  font-size: 1em;
  padding: 1px 3px;
}

.flist app-node:hover {
  transition: color 0.35s ease-in;
  color: var(--main-color);
}

.flist app-node {
  cursor: pointer;
  transition: color 0.35s ease-out;
  color: black;
}

.deselected div {
  display: none;
}

.selected div {
  display: inline;
}
