//@import "~node_modules/@fortawesome/fontawesome-free/css/all.css";
//@import "./fontawesome.css";

$main-color: #ff671f;
$contrast-color: #fff;
$border-radius: 5px;
$hasAnimations: true;
$z-index-level-1: 1;
$z-index-level-2: 2;

* {
  font-family: 'Open Sans', sans-serif;
}

i {
  color: $main-color;
}

.drag-and-drop {
  .content {
    color: $main-color !important;
    background: #fff !important;
  }
}

@mixin text-color {
  color: #000;
}

@mixin shadows {
  box-shadow: 0 2px 3px #eee;
}

@mixin effects($property:false, $time:false) {
  @if $hasAnimations {
    transition: $property $time ease;
  }
}

@mixin contrast {
  color: $contrast-color;
  background-color: $main-color;
}

@mixin borders {
  background-color: #fff;

  border: 1px solid $main-color;
  border-radius: $border-radius;
  padding: 10px;
  margin: 5px;
}

@mixin buttons {
  cursor: pointer;
  outline: none;
}

@mixin disabled {
  background-color: #fff;
  border-color: #ccc;
  color: #ccc;
}

.button {
  @include borders;
  @include buttons;
  @include effects(background-color, 0.3s);

  &:hover {
    @include effects(background-color, 0.3s);
    @include contrast
  }

  &.big {
    font-size: large;
  }

  &[disabled] {
    cursor: not-allowed;
    @include disabled;

    &:hover {
      cursor: not-allowed;
    }
  }

  &.close {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
  }
}

.link {
  text-decoration: none;
  color: $main-color;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: rgba(50, 50, 50, 0.8);
}
