<!--<h1>Enter the main heading, usually the same as the title.</h1>-->
<!--<p>Be <b>bold</b> in stating your key points. Put them in a list: </p>-->
<!--<ul>-->
  <!--<li>The first item in your list</li>-->
  <!--<li>The second item; <i>italicize</i> key words</li>-->
<!--</ul>-->
<!--<p>Improve your image by including an image. </p>-->
<!--<p><img src="http://www.mygifs.com/CoverImage.gif" alt="A Great HTML Resource"></p>-->
<!--<p>Add a link to your favorite <a href="https://www.dummies.com/">Web site</a>.-->
  <!--Break up your page with a horizontal rule or two. </p>-->
<!--<hr>-->
<!--<p>Finally, link to <a href="page2.html">another page</a> in your own Web site.</p>-->
<!--&lt;!&ndash; And add a copyright notice.&ndash;&gt;-->
<!--<p>&#169; Wiley Publishing, 2011</p>-->

<div id="file-manager">
  <app-file-manager (itemClicked)="itemClicked($event)" [tree]="tree"></app-file-manager>
</div>

<!--<app-file-manager [iconTemplate]="iconTemplate"-->
                  <!--[folderContentTemplate]="folderContentTemplate"-->
                  <!--[folderContentBackTemplate]="folderContentBackTemplate"-->
                  <!--[folderContentNewTemplate]="folderContentNewTemplate"-->
                  <!--[loadingOverlayTemplate]="loadingOverlayTemplate"-->
                  <!--[tree]="tree">-->
<!--</app-file-manager>-->

<!--&lt;!&ndash;#iconTemplate je povinne, let-node je referencia na aktualny node&ndash;&gt;-->
<!--<ng-template let-node #iconTemplate>-->
  <!--<i class="fas fa-arrow-alt-circle-right" style="padding: 0 5px"></i>{{node.name}}-->
<!--</ng-template>-->

<!--&lt;!&ndash;#folderContentTemplate je povinne, let-node je referencia na aktualny node&ndash;&gt;-->
<!--<ng-template let-node #folderContentTemplate>-->
  <!--<div class="item"-->
       <!--style="padding: 5px; border: 1px solid #ccc; margin: 3px; border-radius: 5px; width: 150px; cursor: pointer;">-->
    <!--<i class="fas fa-arrow-alt-circle-right" style="padding: 0 5px"></i>{{node.name}}-->
  <!--</div>-->
<!--</ng-template>-->

<!--&lt;!&ndash;#folderContentBackTemplate je povinne, let-node je referencia na aktualny node&ndash;&gt;-->
<!--<ng-template let-node #folderContentBackTemplate>-->
  <!--<div class="item"-->
       <!--style="font-weight: bold; padding: 5px; border: 1px solid #ccc; margin: 3px; border-radius: 5px; width: 150px; cursor: pointer;">-->
    <!--<i class="fas fa-arrow-alt-circle-left" style="padding: 0 5px"></i>BACK-->
  <!--</div>-->
<!--</ng-template>-->

<!--&lt;!&ndash;#folderContentNewTemplate je povinne, let-node je referencia na aktualny node&ndash;&gt;-->
<!--<ng-template let-node #folderContentNewTemplate>-->
  <!--<div class="item"-->
       <!--style="font-weight: bold;padding: 5px; border: 1px solid #ccc; margin: 3px; border-radius: 5px; width: 150px; cursor: pointer;">-->
    <!--<i class="fas fa-plus-circle" style="padding: 0 5px"></i>NEW-->
  <!--</div>-->
<!--</ng-template>-->

<!--&lt;!&ndash;#folderContentNewTemplate je povinne, let-node je referencia na aktualny node&ndash;&gt;-->
<!--<ng-template let-timeoutMessage #loadingOverlayTemplate>-->
  <!--<div class="backdrop">-->
    <!--<div class="error" *ngIf="timeoutMessage">{{timeoutMessage}}</div>-->
  <!--</div>-->
  <!--<div class="spinner">-->
    <!--<i class="fas fa-5x fa-spin fa-sync-alt"></i>-->
  <!--</div>-->
<!--</ng-template>-->

<!--&lt;!&ndash;#sideViewTemplate je povinne, let-node je referencia na aktualny node&ndash;&gt;-->
<!--<ng-template let-node #sideViewTemplate>-->
  <!--<div style="text-align: center">-->
    <!--<p>{{node.name}}</p>-->
    <!--<hr/>-->
    <!--<table>-->
      <!--<tr>-->
        <!--<td>Path:</td>-->
        <!--<td>{{node.pathToNode}}</td>-->
      <!--</tr>-->
    <!--</table>-->
  <!--</div>-->
<!--</ng-template>-->
