#file-manager {
  display: flex;

  app-side-view {
    transition: width 1s ease-in-out;
    width: 0;
    overflow: hidden;
  }

  app-file-manager {
    width: 100%;
  }

  &.selected {
    app-side-view {
      overflow: visible;
      width: 40%;
      max-width: 450px;
      transition: width 1s ease-in-out;
    }
  }
}
