<app-file-manager [tree]="tree">
  <ng-template let-node>
    <div class="node" style="display: inline-block; padding: 3px">
      <div *ngIf="node.isFolder; then itIsFolder else showFile"></div>

      <ng-template #itIsFolder>
        <div *ngIf="node.isExpanded; then isFolderExpanded else isFolderClosed"></div>
      </ng-template>

      <ng-template #showFile><i class="fas fa-file child"></i></ng-template>
      <ng-template #isFolderExpanded><i class="fas fa-folder-open child"></i></ng-template>
      <ng-template #isFolderClosed><i class="fas fa-folder child"></i></ng-template>

      <span>  {{node.name}}</span>
    </div>
  </ng-template>
</app-file-manager>
