.holder {
  display: flex;
}

.navbar {
  margin: 0 0 15px 0;
  padding: 10px;
  border-bottom: 2px solid var(--main-color);
}

.left {
  width: 40%;
  max-width: 300px;
  height: 90vh;
  background-color: white;
  border-radius: 5px;
  border: 1px solid var(--main-color);
  box-shadow: 1px 2px 3px #aaa;
  position: relative;
}

.right{
  width: 60%;
  margin-left: 15px;
  position: relative;
}
