.holder {
  display: flex;
}

.navbar {
  margin: 0 0 15px 0;
  padding: 10px;
  background-color: #aaa;
}

.left {
  width: 40%;
  height: 95vh;
  background-color: #ccc;
}

.right{
  width: 60%;
  margin-left: 15px;
  background-color: aliceblue;
}
