<div class="navbar">
  <app-nav-bar></app-nav-bar>
</div>

<div class="holder">
  <div class="left">
    <app-tree [loading]="loading" [treeModel]="tree" (treeNodeClickedEvent)="onItemClicked($event)">
      <ng-template let-nodes select="tree-node" >
        <ng-container [ngTemplateOutletContext]="{$implicit: nodes}" [ngTemplateOutlet]="templateRef"></ng-container>
      </ng-template>
    </app-tree>
  </div>
  <div class="right">
    <app-file-viewer [loading]="loading" [treeModel]="tree" (treeNodeClickedEvent)="onItemClicked($event)">
      <!--<ng-template let-node>-->
      <!--<i class="fas fa-arrow-right"></i>-->
      <!--<span class="name" style="color: pink">{{node.pathToNode}}</span>-->
      <!--</ng-template>-->
    </app-file-viewer>
  </div>
</div>
