<div class="holder">
  <div class="left">
    <app-tree [treeModel]="tree" (treeNodeClickedEvent)="onItemClicked($event)">
      <!--<ng-template let-node>-->
      <!--<i class="fas fa-arrow-right"></i>-->
      <!--<span class="name" style="color: pink">{{node.pathToNode}}</span>-->
      <!--</ng-template>-->
    </app-tree>
  </div>
  <div class="right">
    <app-file-viewer [treeModel]="tree" (treeNodeClickedEvent)="onItemClicked($event)">
      <!--<ng-template let-node>-->
      <!--<i class="fas fa-arrow-right"></i>-->
      <!--<span class="name" style="color: pink">{{node.pathToNode}}</span>-->
      <!--</ng-template>-->
    </app-file-viewer>
  </div>

</div>
