<div class="new-folder-container">
  <div class="new-folder-child">
    <h3 class="new-folder-description">{{'filemanager.type_new_folder_name' | translate}}</h3>
    <div class="new-folder-input-container">
      <input #uploadFolder placeholder="{{'filemanager.folder_name' | translate}}" (keyup)="onInputChange($event)"
             (keyup.enter)="onClick()" type="text" class="new-folder-input"/>
      <button [disabled]="this.inputValue.length <= 0" class="button new-folder-send" (click)="onClick()">{{'filemanager.confirm' | translate}}</button>
    </div>
  </div>
</div>

