@import '~src/styles';

.right {
  width: calc(100% - 10px);
  height: calc(100vh - 25px);
  padding: 0 5px;
  display: inline-block;
  white-space: nowrap;
  border: 1px solid $main-color;
  border-radius: 5px;
  background-color: white;
  box-shadow: 1px 2px 3px #aaa;
}

.preview {
  text-align: center;
  position: relative;

  p {
    font-weight: bold;
    color: $main-color;
  }

  hr {
    color: $main-color
  }

  div {
    margin: 0 auto;
    display: inline-block;
  }

  .name {
    color: $main-color;
    font-weight: bold;
    text-align: right;
  }

  .close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 10px;
  }
}
