<div class="right">
  <ng-container
    [ngTemplateOutletContext]="{$implicit: node}"
    [ngTemplateOutlet]="sideViewTemplate ? sideViewTemplate : defaultSideViewTemplate">
  </ng-container>
</div>

<ng-template let-node #defaultSideViewTemplate>
  <div class="preview">
    <p>{{node.name | uppercase}}</p>
    <div>
      <img src="https://picsum.photos/200/300/?random"/>
    </div>
    <hr/>
    <div>
      <table style="text-align: left">
        <tr>
          <td>Path:</td>
          <td>{{node.pathToNode}}</td>
        </tr>
        <tr>
          <td>Parent:</td>
          <td>{{node.parentId}}</td>
        </tr>
        <tr>
          <td>Id:</td>
          <td>{{node.id}}</td>
        </tr>
      </table>
    </div>
  </div>
</ng-template>
