@import '~src/styles';

.right {
  width: calc(100% - 10px);
  height: calc(100% - 5px);
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;

  @include borders;
  padding: 0 5px;
  margin: 0;
}

.preview {
  text-align: center;
  position: relative;
  @include text-color;

  p {
    font-weight: bold;
    color: $main-color;
  }

  div {
    margin: 0 auto;
  }

  .name {
    color: $main-color;
    font-weight: bold;
    text-align: right;
  }

  .close {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    padding: 0 10px;
  }

  .buttons {
    width: 100%;
    display: flex;
    justify-content: center;

    .button{
      @include borders;
      @include buttons;
    }

    .button:hover{
      @include contrast;
    }
  }
}
