@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import "~node_modules/@fortawesome/fontawesome-free/css/all.css";

$main-color: #ff671f;
$contrast-color: #000;
$border-radius: 5px;
$hasAnimations: true;

* {
  font-family: 'Open Sans', sans-serif;
}

.drag-and-drop {
  .content {
    color: $main-color !important;
    background: #fff !important;
  }
}

@mixin borders {
  background-color: #fff;
}

@mixin text-color {
}

@mixin effects($property:false, $time:false) {
}

@mixin shadows {
}

@mixin buttons {
}

@mixin contrast {
}

@mixin disabled {
}

.button {
}
