@import url('https://fonts.googleapis.com/css?family=Open+Sans');

//$main-color: #626e80;
//$text-color: black;
//$contrast-color: white;
//$hasAnimations: false;
//$border-radius: 20px;

@import "projects/file-manager/src/styles";

//div.item-holder app-node {
//  flex-grow: 1;
//  text-align: center;
//}

body {
  font-family: 'Open Sans', sans-serif;
}
