@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  font-family: 'Open Sans', sans-serif;
  --main-color: #ff671f;
  /*--main-color: #004983;*/
  overflow: hidden;
}

i {
  color: var(--main-color);
}
